//- footer.jade
footer
	.logo-container
		if page !== 'Homepage'
			a.to-top(href="#top")
				| BACK TO TOP
		p The National Heritage Board owns and operates the following museums, interpretative centres, heritage institutions and precincts.
		.logo-wrap
			a(href="#")
				img(src="img/common/foot-01.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-02.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-03.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-04.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-05.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-06.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-07.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-08.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-09.png" alt="people developer singapore logo")
			a(href="#")
				img(src="img/common/foot-10.png" alt="people developer singapore logo")
	.footer-btm
		.container
			address
				h1 NATIONAL HERITAGE BOARD
				p
					|61 Stamford Road <br>
					|#03-08 Stamford Court, Singapore 178892
				.address-info
					img(src='img/common/icon-phone.png')
					| 1800-2255-64
				.address-info
					img(src='img/common/icon-print-01.png')
					| +65 6332 3568
			.web-media
				span Follow us :
				a(href="#")
					img(src="img/common/icon-facebook.png").fb
				a(href="#")
					img(src="img/common/icon-youtube.png").yt
				img(src="img/common/people-dev.png" alt="people developer singapore logo").logo
			ul.links
				li
					a(href="#") Privacy Policy
				li
					a(href="#") Terms of Use
				li
					a(href="#") Rate This Site
			.copyright
				p Last Update 06 Feb 2017
				p Copyright &copy; 2017 National Heritage Board. All Rights Reserved.
if page !== 'Homepage'
	a.to-top(href="#top")
		.top-btn
			img(src='img/common/icon-right-arrow-white.png')
		| BACK TO TOP
	
