// meta
title #{title}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="wedding website agung & aca")
meta(name="viewport" content="width=device-width, initial-scale=1")

// icons
link(rel="shortcut icon" type="image/x-icon" href="/wedding/favicon.ico")
link(rel="apple-touch-icon", sizes="76x76", href="/wedding/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/wedding/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/wedding/favicon-16x16.png")
link(rel="manifest", href="/wedding/manifest.json")
link(rel="mask-icon", href="/wedding/safari-pinned-tab.svg", color="#5bbad5")
meta(name="msapplication-TileColor", content="#f1a9a0")
meta(name="theme-color", content="#ffffff")

// stylesheets
//- script(src="js/vendor/jquery-nice-select/css/nice-select.css")

link(rel="stylesheet" href="css/main-dist.css" media="screen" async)
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css" integrity="sha384-29Ax2Ao1SMo9Pz5CxU1KMYy+aRLHmOu6hJKgWiViCYpz3f9egAJNwjnKGgr+BXDN" crossorigin="anonymous")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/regular.css" integrity="sha384-seionXF7gEANg+LFxIOw3+igh1ZAWgHpNR8SvE64G/Zgmjd918dTL55e8hOy7P4T" crossorigin="anonymous")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/brands.css" integrity="sha384-ATC/oZittI09GYIoscTZKDdBr/kI3lCwzw3oBMnOYCPVNJ4i7elNlCxSgLfdfFbl" crossorigin="anonymous")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous")
//- link(rel="stylesheet" media="print" href="css/print.css")

// script
//- script(src="js/vendor/modernizr/modernizr.js")
