//- header.jade
header
	.container-fluid.header-top
		a(href="#").logo-wrap Agung & Aca
		.nav-menu
			.mobile-trigger
				.mid
			ul.nav
				li.nav-item
					a.nav-link(href="#home") Home
				li.nav-item
					a.nav-link(href="#counter") Countdown
				li.nav-item
					a.nav-link(href="#story") Story
				li.nav-item
					a.nav-link(href="#location") Location
				li.nav-item
					a.nav-link(href="#wishlist") Wishlist
				li.nav-item
					a.nav-link(href="#gallery") Gallery
					