// style that has low priority
link(rel="stylesheet" href="js/vendor/slick-carousel/slick/slick.css" defer)
//- script(src="js/vendor/countdown/css/jquery.classycountdown.css" defer)
//- link(rel="stylesheet" href="js/vendor/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker-standalone.css" defer)
link(rel="stylesheet" href="js/vendor/font-awesome-4.7.0/css/font-awesome.min.css" defer)

// script
script(src="js/vendor/jquery/dist/jquery.min.js")
//- script(src="js/vendor/jquery-nice-select/js/jquery.nice-select.js")
script(src="js/vendor/tether/dist/js/tether.js")
script(src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="js/vendor/countdown/js/jquery.knob.js")
script(src="js/vendor/countdown/js/jquery.throttle.js")
script(src="js/vendor/countdown/js/jquery.classycountdown.js")
//- script(src="js/vendor/waitForImages/dist/jquery.waitforimages.min.js")
script(src="js/vendor/imagesloaded/imagesloaded.pkgd.min.js")
//- script(src="js/vendor/jquery_lazyload/jquery.lazyload.js")
//- script(src="js/lib/tempIframe/tempIframe.js")
//- script(src="js/lib/popupNotification/notification.js")
script(src="js/vendor/jquery-smooth-scroll/jquery.smooth-scroll.min.js")
//- script(src="js/vendor/jquery-nicescroll/dist/jquery.nicescroll.min.js")
script(src="js/vendor/masonry/masonry.pkgd.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqG408wlPZ832I5zRMmBZoJKTMqIJZ0fQ&callback=initMap&libraries=geometry,places")
//- script(src="js/vendor/rv-jquery-fontsize/js/rv-jquery-fontsize.min.js")
//- script(src="js/vendor/moment/moment.min.js")
//- script(src="js/vendor/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js")
script(src="js/vendor/slick-carousel/slick/slick.min.js")
script(src="js/plugins-dist.js")
script(src="js/main-dist.js")
script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
script.
	WebFont.load({
		google: {
			families: ['Playfair Display:200,400,700,900', 'Raleway:100,200,300,300i,400,500,600,700,800,900']
		}
	});
