// $glyphicons: 'Glyphicons Halflings';
$raleway: "Raleway", sans-serif;
$playfair: "Playfair Display", sans-serif;

// basic variables
$themecolor: #f3accc;
$bodyfontcolor: #464646;
$orange-font: #A56800;
$border-color: #eee;

$black: #3B3B3B;
$wis-black: #555555;
$grey: #F7F7F7;
$red: #C11B1A;
$brown: #3C3C3C;
$light-orange: #f8cc35;
$orange:#F1A9A0;
$dark-orange: #a27a73;
$yellow: #f8cc35;
$purple: #5D395F;
$green: #81B37C;
$red: #C15151;
$blue: #8199F3;
$pale-orange: #DFD1B0;
